{{ define "main" }}
    {{- .Scratch.Set "single_page" true -}}
    <section class="section">
        <div class="container">
            <article class="article content gallery">
                {{ partial "entry_header" . }}
                <div class="article-entry is-size-6-mobile">
                    {{partial "featured_image.html" .}}
                    {{ .Content }}
                </div>
                {{- if and ( eq .Site.Params.settings.showLastmod true ) ( not ( eq .Lastmod .Date ) ) -}}
                    {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
                    <div class='columns'>
                        <span class='column'> Last Updated: <time datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
                            {{- .Lastmod.Format $dateFormat -}}
                        </time> </span>

                    </div>
                {{- end -}}
                <div class="columns is-variable is-1 is-multiline is-mobile">
                {{- range .Params.tags -}}
                    <span class="column is-narrow">
                        <a class="tag is-light article-tag" href="{{ $.Site.BaseURL}}/tags/{{ . | urlize }}/">#{{.}}</a>
                    </span>
                {{- end -}}
                </div>
                {{ partial "entry_nav" . }}
            </article>
        </div>
    </section>
    {{- .Scratch.Set "single_page" "false" -}}
{{ end }}
